// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0rem;
  padding: 3rem;
}

.title {
  background-image: linear-gradient(#cccccc, #ffffff)
}

.content {
  margin: auto;
}

.columns {
  display: flex;
}

.card {
  margin-right: 10px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 200px !important;
}